footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: black;
}

.footer {
  color: white;
  font-family: "Roboto";
  display: block;
  letter-spacing: 0.1rem;
  padding: 150px;
}
.footer h2 {
  line-height: 1.5rem;
  margin-top: 30px;
  font-weight: 700;
}

footer .logo-footer {
  grid-column: 2;
  margin: 150px;
}
