[data-menu="button"] {
  display: none;
}

.container-menu-hamburguer {
  display: none;
}

@media (max-width: 900px) {
  [data-menu="button"] {
    position: absolute;
    display: flex;
    top: 0;
    border: none;
    padding: 10px;
    border-radius: 2px;
    background-color: white;
    margin-top: 20px;
    margin-left: 30px;
    align-items: center;
  }

  [data-menu="button"] a {
    text-decoration: none;
    font-family: "Roboto";
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
    color: black;
  }

  [data-menu="button"]::before {
    content: "";
    display: inline-block;
    margin-right: 8px;
    height: 2px;
    width: 20px;
    background-color: black;
    box-shadow: 0 6px black, 0 -6px black;
    transition: transform 0.3s;
  }

  [data-menu="button"].active::before {
    transform: rotate(90deg);
  }

  .logo {
    display: none;
  }

  .container-menu {
    display: none;
  }

  .container-menu .btn1 {
    display: none;
  }

  .container-menu-hamburguer {
    position: absolute;
    top: 80px;
    width: 100%;
    background-color: black;
  }

  .container-menu-hamburguer.active {
    display: block;
  }

  .container-menu-hamburguer .menu-hamburguer {
    font-family: "Roboto";
    color: white;
    height: 150px;
    margin-bottom: 30px;
  }
  .container-menu-hamburguer .menu-hamburguer .item-hamburguer {
    margin-bottom: 30px;
  }

  .container-menu-hamburguer .menu-hamburguer .item-hamburguer:hover {
    font-size: 1.01rem;
    cursor: pointer;
    font-weight: 500;
  }
  .container-menu-hamburguer .menu-hamburguer .btn1-hamburguer {
    margin-left: 0px;
  }
}
